@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", serif;
}
.background-image {
  background-image: url("images/BackgroundImg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 20%; */
}

.aboutBackground-image {
  background-image: url("images/AboutBackgroundImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 64%;
}

.contactBackground-image {
  background-image: url("images/ContactBg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 120%;
}
.scrolled {
  background-color: white;
}

/* Hero slider animations */
.animateSlide {
  animation: slide 4s ease-in-out infinite;
}
@keyframes slide {
  from {
    top: 12rem;
  }
  5% {
    top: 0;
  }
  10% {
    top: -1.5rem;
  }
  14% {
    top: 0;
  }
  95% {
    top: 0;
  }
  to {
    top: 12rem;
  }
}

@media (max-width: 799px) {
  .background-image {
    background-image: url("images/mobilebg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: fit;
    background-position-y: center;
  }
  .aboutBackground-image {
    background-image: url("images/aboutmobilebg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit;
    background-position-y: center;
  }
  .contactBackground-image {
    background-image: url("images/ContactBg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 105%;
  }
  .closed {
    transition: 0.5s ease-in-out;
    max-height: 4.325rem;
    overflow: hidden;
  }

  .open {
    transition: 0.5s ease-in-out;
    max-height: 31.25rem;
    overflow: hidden;
  }
}

@media (min-width: 800px) and(max-width: 1024px) {
  .background-image {
    background-image: url("images/BackgroundImg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: fit;
    background-position: center;
  }
  .aboutBackground-image {
    background-image: url("images/AboutBackgroundImage.svg");
    background-repeat: no-repeat;
    background-size: cover;

    height: fit;
    background-position-y: top;
  }
}
