@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", serif;
}
.background-image {
  background-image: url("images/BackgroundImg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 20%; */
}

.aboutBackground-image {
  background-image: url("images/AboutBackgroundImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 64%;
}

.contactBackground-image {
  background-image: url("images/ContactBg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 120%;
}
.scrolled {
  background-color: white;
}

.closed {
  transition: 0.5s ease-in-out;
  max-height: 5.625rem;
  overflow: hidden;
}

.open {
  transition: 0.5s ease-in-out;
  max-height: 31.25rem;
  overflow: hidden;
}

/* Hero slider animations */
.animateSlide {
  animation: slide 4s ease-in-out infinite;
}
@keyframes slide {
  from {
    top: 12rem;
  }
  5% {
    top: 0;
  }
  10% {
    top: -1.5rem;
  }
  14% {
    top: 0;
  }
  95% {
    top: 0;
  }
  to {
    top: 12rem;
  }
}

@media (max-width: 799px) {
  .background-image {
    background-image: url("images/BackgroundImg.svg");
    background-repeat: no-repeat;
    background-size: fit;
    width: 566.9px;
    height: fit;
    background-position-y: -200%;
  }
}
