@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", serif;
}
.background-image {
  background-image: url("images/BackgroundImg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 20%; */
}

.aboutBackground-image {
  background-image: url("images/AboutBackgroundImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 64%;
}

.contactBackground-image {
  background-image: url("images/ContactBg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 180%;
}

/* Hero slider animations */
.animateSlide {
  animation: slide 4s ease-in-out infinite;
}
@keyframes slide {
  from {
    top: 12rem;
  }
  3% {
    top: 0;
  }
  8% {
    top: -1.5rem;
  }
  12% {
    top: 0;
  }
  95% {
    top: 0;
  }
  to {
    top: 12rem;
  }
}
